* {
    margin: 0;
}

a:hover {
    color: grey;
}

a:visited {
    color: rgb(rgb(130, 172, 192));
}

header,
section,
footer {
    text-align: center;
}

header {
    background-color: black;
    padding: 2%;
}

header h1,
header p {
    color: white;
    justify-content: center;
}

p {
    letter-spacing: 0.4vh;
    padding: 2%;

}

nav {
    display: flex;
    margin: 2%;
    justify-content: space-around;
    text-align: justify;
}

nav a {
    color: inherit;
    font-family: sans-serif;
    font-weight: 900;
    text-decoration: inherit;
}

section p {
    letter-spacing: 0;
}

footer {
    bottom: 0;
    position: absolute;
    width: 99%;
}

footer img {
    height: 50px;
}