.body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  min-height: 100vh;
  color: white; 
}

.form-class {
  display: flex;
  margin: 0 auto;
  padding: 1vh 1vh;
}

.msg{
  bottom: 0;
  position: fixed;
  width: 70vw;
  /*: #61dafb;*/
}