/* CONFIGURACOES GLOBAIS*/
* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(248, 243, 233);
}

a {
    text-transform: inherit;
}

a:hover {
    transform: scale(0.98,0.98);
}

p {
    color: black;
    font-family: 'Share Tech', sans-serif;
}

h2 {
    margin: 4% 0;
}


/* CONFIGURACAO DE HEADER E NAV*/
header, h2 {
    text-align: center;
}

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    text-decoration: inherit;
    font-size: 2vh;
    padding: 0 1%;
}

nav a:hover {
    text-decoration: underline;
    font-weight: 600;
    background-color: black;
}

header h1 {
    background-color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-family: 'Share Tech', sans-serif;
    font-size: 8vh;
    letter-spacing: .5vh;
    padding: 10%;
    text-decoration: solid;
}

header img {
    border: 3px dotted greenyellow;
    border-radius: 50%;
    margin-top: -18vh;
    width: 15%;
}

header p {
    font-size: 4vh;
    line-height: 6vh;
    margin: 5% auto 5%;
    padding: 1%;
    width: 40%;
}

/*CONFIGURAÇÃO DA TABELA - HISTORICO PROFISSIONAL*/

table {
    font-size: 4vh;
    text-align: center;
    width: 100%;
    padding: 17%;
    background-color: black;
}

table tr th,
h2 {
    color: hotpink;
    letter-spacing: .3vh;
    font-size: 6vh;
}

th {
    padding: 5% 0;
}

/*PADDING DAS SECOES DE PROJETOS E CONTATO*/

#projetos, #contato {
    padding: 5% 0;
}

/*SEÇÃO DE PROJETOS*/

#container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#container-cards img {
    border-radius: 5%;
    width: 18vw;
}

#container-cards a {
    display: inline-flex;
    height: 40vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
    font-size: 3vh;
}

#container-cards p {
    font-size: 3vh;
    margin: 1% 0;
}

/*SEÇÃO DE CONTATOS*/

#contato {
    background-color: black;
}
#contato form{
    display: grid;
    justify-content: center;
    margin-top: -3%;
}

#contato label {
    margin: 1%;
    font-size: 2vh;
}

#contato input , #contato button {
    color: black;
    font-size: 2vh;
    margin: 1vh 0;
}

#contato button {
    width: 5vw;
    margin: 0 auto;
}

#contato button:hover {
    transform: scale(1.04);
}

/* FOOTER */

footer {
    text-align: center;
}

footer img {
    width: 70px;
    padding: 1% 1%;
}

footer img:hover {
    transform: scale(1.1);
}
