* {
    margin: 0;
    padding: 0;
}

img {
    width: 2%;
}

header {
    display: grid;
    grid-template-columns:  25fr 1fr;
    background-color: mediumvioletred;
}

button {
    margin: 2vh;
}

aside {
    background-color: #f2d0e0;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 92.5vh;
    float: left;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

div img {
    width: 55%;
}