* {
    margin: 0;
    padding: 0;
}

/*CONFIGURAÇÃO DO HEADER*/

img {
    width: 2%;
}

header {
    display: grid;
    grid-template-columns:  25fr 1fr;
    background-color: mediumvioletred;
}

button {
    margin: 2vh;
}

/*CONFIGURAÇÃO DO MENU LATERAL*/

aside {
    background-color: #f2d0e0;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 92.5vh;
    float: left;
}

/* CONFIGURAÇÃO DO AREA DO CARDS*/

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3vh;
    column-gap: 1vh;

}

/* CONFIGURAÇÃO DOS CARDS*/

.item-titulo {
    font-weight: 900;
}

.item-descricao {
    margin: 2vh 0;
}

div {
    width: 95%;
    box-shadow: 10px 5px 5px darkgray;
}

div p {
    width: 75%;
}

div img {
    width: 99%;
}