* {
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    height: 60px;
    display: flex;
    color: rgb(26, 26, 26);
    align-items: center;   
}

#icone-principal {
    width: 3%;
    margin: 1% 1%;
}

#busca {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 23%;
}

#busca input {
    display: inline-flex;
    width: 80%;
    height: 30px;
    margin: 0 2%;
}

#busca img {
    width: 3%;
}

span {
    color: white;
}

main {
    margin: 1% 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}

footer {
    background-color: red;
    font-weight: 700;
    font-size: 2vh;
    letter-spacing: .2vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

}